* {
  background-color: #DDD;
}

.p1 {
  font-family: roboto;
  font-weight: 700;
  padding-top: 30px;
  padding-left: 150px;
}

.p2 {
  font-family: roboto;
  font-weight: 400;
  padding-left: 150px;
}
